In [6]:
print(1+1)

2

In [7]:
print(2+3)

5

In [8]:
1+1

2

### Python Example

In [ ]:
age = input(24)
print(age,type(age))

In [ ]:
age = int(input("Enter your age: "))
print(age, type(age))

In [ ]:
a=10
b=10

type(a==b)

bool

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
age=24
print(age)

24

In [ ]:
result=:"hello"+ str(5)

SyntaxError: invalid syntax (2448561330.py, line 1)

In [ ]:
result="hello"+ str(5)
print(result)

hello5

In [ ]:
x=5
y=10
print(x+y)

15

In [ ]:
num1 = 15
num2 =25
print(num1+num2)

40

In [ ]:
##simple calculater

#simple calculater
num1=float(input("enter first number"))
num2 = float(input("enter second number"))

#performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

#Displaying result
print("addition",addition)
print("subtraction",subtraction)
print("multiplication",multiplication)
print("division",division)
print("floor_division",floor_division)
print("modulus",modulus)
print("exponentiation",exponentiation)

ValueError: could not convert string to float: ''

In [ ]:
##if statement 
age=18

if age >=17:
    print("you r allowed to vote")

you r allowed to vote

In [ ]:
##if else statement
age=16
if age >=18:
    print("yor are eligible for voting")
else :
    print("you are minor")

you are minor

In [ ]:
##elif statement
num = 0

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Zero

In [ ]:
##nested conditional statement
age = 20
citizen = "yes"

if age >= 18:
    if citizen == "yes":
        print("You are eligible to vote.")
    else:
        print("You must be a citizen to vote.")
else:
    print("You are not old enough to vote.")

You are eligible to vote.

In [ ]:
##assignent
##simple calculater program
num1=float(input("enter first number"))
num2=float(input("enter second number"))
operation=input("enter operation(+,-,*,/):")
#perform the requested operation
if operation=="+":
    result=num1+num2
elif operation=="-":
    result=num1-num2
elif operation =="*":
    result=num1*num2
elif operation =="/":
    if num2!=0:
    result=num1/num2
else:
    result="error! divisionby zero"
else:
result = "invalid number"
print("Result:".result)

IndentationError: expected an indented block after 'if' statement on line 14 (670231683.py, line 15)

In [ ]:
range(5)

range(0, 5)

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [ ]:
for i in range (0,6,3):
    print(i)

0
3

In [ ]:
#strings
str="sakshi dwivedi"
for i in str:
    print(i)

s
a
k
s
h
i

d
w
i
v
e
d
i

In [ ]:
##the while loop continues to excute as long as the condition is true.
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [ ]:
fruits=["apple","mango","banana"]
print(fruits)

['apple', 'mango', 'banana']

In [ ]:
lst=[]
print(type(lst))

<class 'list'>

In [ ]:
print(fruits[0])
print(fruits[2])

apple
banana

In [ ]:
fruits

['apple', 'mango', 'banana']

In [ ]:
fruits[0]="watermelon"
print(fruits)

['watermelon', 'mango', 'banana']

In [ ]:
fruits=["apple","banana"]
fruits.append("orange") ##add an item to the end
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
fruits.insert(1,"watermelon")
print(fruits)## insert an item to anywhere

['apple', 'watermelon', 'banana', 'orange']

In [ ]:
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'banana']

In [ ]:
index=fruits.index("banana")
print(index)

2

In [ ]:
fruits.insert(3,"cherry")
print(fruits.count("cherry"))

1

In [ ]:
fruits.sort()## sort the list in ascending order

In [ ]:
fruits

['apple', 'banana', 'cherry', 'watermelon']

In [ ]:
fruits.reverse()

In [ ]:
fruits

['watermelon', 'cherry', 'banana', 'apple']

In [ ]:
fruits.clear()
print(fruits)

[]

In [ ]:
#slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[3:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for number in numbers :
 print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
##list iteration
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
##list comprehension
lst=[]
for x in range (10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
even_numbers = []
for x in range(1, 111):
    if x % 2 == 0:
        even_numbers.append(x)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110]

In [ ]:
odd_numbers=[]
for x in range(1,111):
    if x % 2 != 0 :
        odd_numbers.append(x)
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109]

In [ ]:
lst1=[1,2,3,4,5]
lst2=['a','b','c','d','e']

pair=[[i,j]for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

In [ ]:
##set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

my_set={1,2,3,5,4,4,5}
print(my_set)

In [ ]:
my_set.add(9)
print(my_set)

{1, 2, 3, 4, 5, 9}

In [ ]:
##pop method 
remove_element=my_set.pop()
print(remove_element)
print(my_set)

2
{3, 4, 5, 9}

In [ ]:
##union
set1={1,2,3,4,5}
set2={4,5,6,7,8,9,10}

union_set=set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set1. difference(set2)

{1, 2, 3}

In [ ]:
set2.difference(set1)

{6, 7, 8, 9, 10}

In [ ]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [ ]:
empty_dict=dict()
empty_dict

{}

In [ ]:
my_dict = {
    "name": "Sakshi",
    "age": 20,
    "course": "Python"
}

In [ ]:
print(my_dict)

{'name': 'Sakshi', 'age': 20, 'course': 'Python'}

In [ ]:
print(type(my_dict))

<class 'dict'>

In [ ]:
print(my_dict['age'])

20

In [ ]:
print(my_dict.get('age'))
print(my_dict.get('course'))

20
Python

In [ ]:
keys=my_dict.keys()
print(keys)
values=my_dict.values()
print(values)
items=my_dict.items()
print(items)

dict_keys(['name', 'age', 'course'])
dict_values(['Sakshi', 20, 'Python'])
dict_items([('name', 'Sakshi'), ('age', 20), ('course', 'Python')])

In [ ]:
#shallow copy 
my_dict_copy =my_dict
print(my_dict)
print(my_dict_copy)

{'name': 'Sakshi', 'age': 20, 'course': 'Python'}
{'name': 'Sakshi', 'age': 20, 'course': 'Python'}

In [ ]:
my_dict["name"]="sakshi2"
print(my_dict)
print(my_dict_copy)

{'name': 'sakshi2', 'age': 20, 'course': 'Python'}
{'name': 'sakshi2', 'age': 20, 'course': 'Python'}

In [ ]:
my_dict_copy1=my_dict.copy()
print(my_dict_copy1)
print(my_dict)

{'name': 'sakshi2', 'age': 20, 'course': 'Python'}
{'name': 'sakshi2', 'age': 20, 'course': 'Python'}

In [ ]:
my_dict["name"]="sakshi3"
print(my_dict_copy1)
print(my_dict)

{'name': 'sakshi2', 'age': 20, 'course': 'Python'}
{'name': 'sakshi3', 'age': 20, 'course': 'Python'}

In [ ]:
for keys in my_dict.keys():
  print(keys)

name
age
course

In [ ]:
for value in my_dict.values():
  print(value)

sakshi3
20
Python

In [ ]:
for key,value in my_dict.items():
    print(f"{key}:{value}")

name:sakshi3
age:20
course:Python

In [ ]:
#nested dict
students = {
    "student1": {"name": "Riya", "age": 22},
    "student2": {"name": "Aarav", "age": 21}
}

In [ ]:
print(students)

{'student1': {'name': 'Riya', 'age': 22}, 'student2': {'name': 'Aarav', 'age': 21}}

In [ ]:
print(students["student2"]["name"])
print(students["student2"]["age"])

Aarav
21

In [ ]:
students.items()

dict_items([('student1', {'name': 'Riya', 'age': 22}), ('student2', {'name': 'Aarav', 'age': 21})])

In [ ]:
##Dictionary Comprehension
squares = {x: x**2 for x in range(5)}

In [ ]:
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
##creating tuples
lst=list()
print(type(lst))
tpl=tuple()
print(type(tuple))

<class 'list'>
<class 'type'>

In [ ]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [ ]:
print(numbers[0])   
print(numbers[2])

1
3

In [ ]:
##function
def is_strong_password(password):
    # Check length
    if len(password) < 8:
        return False

    # Check for digits
    if not any(char.isdigit() for char in password):
        return False

    # Check for lowercase
    if not any(char.islower() for char in password):
        return False

    # Check for uppercase
    if not any(char.isupper() for char in password):
        return False

    # Check for special characters
    if not any(char in '!@#$%&*()_+' for char in password):
        return False

    return True


## calling the function
print(is_strong_password("hgujjk"))      # False (too short, no digits, no uppercase, no special)
print(is_strong_password("strongpwd!"))  # False (no uppercase, no digits)
print(is_strong_password("Strong1!"))    # True

False
False
True

In [ ]:
##function
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item["price"]*item["quantity"]
        
    return total_cost

##example cart data
cart=[
    {'name':'apple','price':0.5,'quantity':4},
    {'name':'banana','price':0.3,'quantity':6},
    {'name':'orange','price':0.2,'quantity':8}

]

##calling the function
total_cost=calculate_total_cost(cart)
print(total_cost)

5.4

In [ ]:
addition=lambda a,b:a+b
print(type)
print(addition(5,9))

<class 'type'>
14

In [ ]:
def even(num):
         if num%2==0:
            return True

even(24)

True

In [ ]:
even1=lambda num:num%2==0
even1(12)

True

In [ ]:
addition1=lambda x,y,z:x+y+z
addition1(12,25,56)

93

In [ ]:
numbers=[1,2,3,4,5,6]
def square (number):
    return number**2

square(3)

9

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = list(map(lambda x: x * 2, numbers))
print(result)

[2, 4, 6, 8, 10]

In [ ]:
print("Result",6/3,sep="#")

Result#2.0

In [ ]:
A,B="One","Two"
print(A+B)

OneTwo

In [ ]:
def generate_hollow_square(n):
    print(generate_hollow_square)

In [ ]:
print()

In [ ]:
pattern = []
    for i in range(n):
        if i == 0 or i == n - 1:
            pattern.append('*' * n)
        else:
            # middle rows are hollow
            pattern.append('*' + ' ' * (n - 2) + '*')
        return pattern

IndentationError: unexpected indent (980495383.py, line 2)

In [ ]:
def linear_search(arr,target):
    size=len(arr)
    for index in range(0,size):
        if (arr[index])==target:
            return index
    return -1
my_list=[10,20,30,50,70]
target=700
result=linear_search(my_list,target)
print(result)

-1

In [ ]:
def bubble_sort(arr):
    n = len(arr)
    # Outer loop for passes
    for i in range(n):
        # Inner loop for comparisons
        for passes in range(4):
            for j in range(0, n - i - 1):
                if arr[j] > arr[j + 1]:
                    arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr


# Test the function
unsorted_list = [12, 25, 35, 11, 45]
sorted_list = bubble_sort(unsorted_list)
print("Sorted Elements:", sorted_list)

Sorted Elements: [11, 12, 25, 35, 45]

In [ ]:
def selection_sort(lst):
    # Your code goes here
    n=len(lst)
    for i in range(n):
        min_index=i
        for j in range(i+1,n):
            if lst[j] < lst[min_index]:
                min_index=j 
        lst[i], lst[min_index] = lst[min_index], lst[i]
    return lst
        
#test the function
numbers=[12,10,3,89,1]
print("sorted list:",selection_sort(numbers))

sorted list: [1, 3, 10, 12, 89]

In [ ]:
def insertion_sort(lst):
    # Your code goes here
    for i in range(1,len(lst)):
        key=lst[i]
        j=i-1
        while j>=0 and lst[j]>key:
            lst[j+1]=lst[j]
            j -= 1 
        lst[j+1]=key
    return lst

#test the function
print(insertion_sort([15,12,50,42,48,31]))

[12, 15, 31, 42, 48, 50]

In [ ]:
#Count negative numbers in a sorted matrix
def countNegatives(grid):
    def count_negatives_in_row(row):
        left, right = 0, len(row)
        while left < right:
            mid = (left + right) // 2
            if row[mid] < 0:
                right = mid
            else:
                left = mid + 1
        return len(row) - left

    total_negatives = 0
    for row in grid:
        total_negatives += count_negatives_in_row(row)
    return total_negatives

print(countNegatives([
    [4, 3, 2, 1],
    [3, 2, 1, -1],
    [1, 1, -1, -2],
    [-1, -1, -2, -3]
]))

7

In [ ]:
#Find smallest letter greater than target
def nextGreatestLetter(letters, target):
    left, right = 0, len(letters) - 1
    while left <= right:
        mid = (left + right) // 2
        if letters[mid] <= target:
            left = mid + 1
        else:
            right = mid - 1
    # wrap around
    return letters[left % len(letters)]
#  Test the function
letters = ['c', 'f', 'j']

print(nextGreatestLetter(letters, 'a'))  # Expected: 'c'
print(nextGreatestLetter(letters, 'c'))  # Expected: 'f'
print(nextGreatestLetter(letters, 'd'))  # Expected: 'f'
print(nextGreatestLetter(letters, 'g'))  # Expected: 'j'
print(nextGreatestLetter(letters, 'j'))  # Expected: 'c' (wrap around)
print(nextGreatestLetter(letters, 'k'))  #

c
f
f
j
c
c

In [ ]:
#Find First and Last Position of Element in Sorted Array
def searchRange(nums, target):
    # Implement your solution here
    def find_first(nums,target):
        left,right=0,len(nums)-1
        first=-1
        while left <= right:
            mid = (left+right)//2
            if nums[mid]==target:
                first=mid
                right=mid-1
            elif nums[mid]<target:
                left=mid+1 
            else:
                right=mid-1 
        return first
    def find_last(nums, target):
        left, right = 0, len(nums) - 1
        last = -1
        while left <= right:
            mid = (left + right) // 2
            if nums[mid] == target:
                last = mid
                left = mid + 1  # keep searching right side
            elif nums[mid] < target:
                left = mid + 1
            else:
                right = mid - 1
        return last

    return [find_first(nums, target), find_last(nums, target)]
# test the function
print(searchRange([5,7,7,8,8,10], 8))   # Output: [3, 4]
print(searchRange([5,7,7,8,8,10], 6))   # Output: [-1, -1]
print(searchRange([], 0))

[3, 4]
[-1, -1]
[-1, -1]

In [ ]:
#Minimum in Rotated Sorted Array
def findMin(nums):
    left, right = 0, len(nums) - 1
    
    while left < right:
        mid = (left + right) // 2
        
        if nums[mid] > nums[right]:
            left = mid + 1
        else:
            right = mid
    
    return nums[left]
#test the function 
print(findMin([3,4,5,1,2]))        
print(findMin([4,5,6,7,0,1,2]))    
print(findMin([11,13,15,17]))

1
0
11

In [ ]:
#Search in Rotated Sorted Array
def search(nums, target):
    left,right=0, len(nums)-1
    while left<=right:
        mid=(left+right)//2
        
        if nums[mid]==target:
            return mid
            
            #Left half is sorted
        if nums[left]<=nums[mid]:
            if nums[left] <= target < nums[mid]:
                right=mid-1
            else:
                left=mid+1 
                
            # Right half is sorted
        else:
            if nums[mid] < target <= nums[right]:
                left = mid + 1
            else:
                right = mid - 1
    return-1 
#test the function
print(search([4,5,6,7,0,1,2], 0))  
print(search([4,5,6,7,0,1,2], 3))  
print(search([1], 0))

4
-1
-1

In [ ]:
#Maximum Element in a List.

def find_max_element(lst):
    """
    Function to find the maximum element in a list.
    :param lst: List[int] -> List of integers
    :return: int -> The maximum element in the list
    """
    # TODO: Implement this function
    max_element=lst[0]
    for num in lst:
        if num >max_element:
            max_element=num
    return max_element
#test the function

numbers = [3, 7, 2, 9, 5]
print(find_max_element(numbers)) # Output: 9

9

In [ ]:
#Sum of Elements in a List
def sum_of_elements(lst):
    total=0
    for num in lst:
        total+=num
    return total 
#test the function 
lst = [2, 4, 6, 8]
print(sum_of_elements(lst))

20

In [ ]:
#palindrome_list
def palindrome_list(lst):
    i=0
    j=len(lst)-1
    while i<j:
        if lst[i]!=lst[j]:
             return False
        i+=1
        j-=1 
    return True 
#test the function 
numbers=[1,2,3,4,1]
print(palindrome_list(numbers))

False

In [ ]:
#reverse list
def reverse_list(lst):
    start=0
    end=len(lst)-1
    while start<end:
        lst[start], lst[end]=lst[end], lst[start]
        start+=1
        end-=1
        
    return lst
#test the function
numbers=[1,2,3,4,5]
print(reverse_list(numbers))

[5, 4, 3, 2, 1]

In [ ]:
#rotate the list
def rotate_left(ARR, D):
    n=len(ARR)
    D=D%n

    for _ in range(D):
        first = ARR[0]  # store the first element
        for i in range(n - 1):
            ARR[i] = ARR[i + 1]  # shift elements left
        ARR[-1] = first  # put the first element at the end
    return ARR
#test the function
numbers = [1, 2, 3, 4, 5]
print(rotate_left(numbers, 2))

[3, 4, 5, 1, 2]

In [ ]:
#Plus One in the Number
def plus_one(digits):
    
    n = len(digits)
    
    # Traverse from the last digit backward
    for i in range(n - 1, -1, -1):
        if digits[i] < 9:
            digits[i] += 1
            return digits  # No carry, return immediately
        digits[i] = 0  # Set current digit to 0 if it becomes 10

    # If all digits were 9 (like [9,9,9]), add 1 at the start
    return [1] + digits
#Example Test Cases

print(plus_one([1, 2, 3]))   # Output: [1, 2, 4]
print(plus_one([4, 3, 9]))   # Output: [4, 4, 0]
print(plus_one([9, 9, 9]))   # Output: [1, 0, 0, 0]

[1, 2, 4]
[4, 4, 0]
[1, 0, 0, 0]

In [ ]:
#find_missing_number
def find_missing_number(nums):
    n = len(nums)
    expected_sum = n * (n + 1) // 2   # Sum of numbers from 0 to n
    actual_sum = sum(nums)            # Sum of all given numbers
    return expected_sum - actual_sum  
#test the function 
print(find_missing_number([3, 0, 1]))   # Output: 2
print(find_missing_number([0, 1]))      # Output: 2
print(find_missing_number([9,6,4,2,3,5,7,0,1]))

2
2
8

In [ ]:
#Array is sorted
def is_sorted(arr):
    """
    Function to check if the given array is sorted in non-decreasing order.
    :param arr: List[int] -> A list of integers
    :return: bool -> True if the array is sorted, False otherwise
    """
    # TODO: Implement this function
    for i in range(len(arr)-1):
        if arr[i]>arr[i+1]:
            return False 
    return True
#test the function 
print(is_sorted([1, 2, 3, 4, 5]))      #  True
print(is_sorted([3, 5, 7, 7, 9]))      #  True (equal values allowed)
print(is_sorted([5, 3, 8, 1]))         #  False
print(is_sorted([]))                   #  True (empty list is considered sorted)
print(is_sorted([10]))

True
True
False
True
True

In [ ]:
#move zeroes
def move_zeroes (nums):
    non_zeroes=0
    for i in range(len(nums)):
        if nums[i]!=0:
            nums[non_zeroes],nums[i]=nums[i],nums[non_zeroes]
            non_zeroes+=1 
#test the function
nums=[1,2,3,0,56,]
move_zeroes(nums)
print(nums)

[1, 2, 3, 56, 0]

In [ ]:
def intersection(nums1, nums2):
    """
    Return unique integers that appear in both arrays (order not guaranteed).
    """
    return list(set(nums1) & set(nums2))
#test the function 
print(intersection([1,2,5,6],[1,2,4]))  # -> [2]

[1, 2]

In [ ]:
def find_max_consecutive_ones(nums):
    """
    Function to find the maximum number of consecutive 1's in a binary array.
    """
    max_count = 0     #      1s  streak
    current_count = 0 #    1s  streak
    
    for num in nums:
        if num == 1:
            current_count += 1
            max_count = max(max_count, current_count)
        else:
            current_count = 0  # 0   streak 
    
    return max_count
#test the function 
print(find_max_consecutive_ones([1, 1, 0, 1, 1, 1]))  #  3
print(find_max_consecutive_ones([1, 0, 1, 0, 1]))     #  1
print(find_max_consecutive_ones([0, 0, 0]))           #  0
print(find_max_consecutive_ones([1, 1, 1, 1]))

3
1
0
4

In [ ]:
def max_subarray_sum(arr):
    """
    Given an array of integers, find the maximum sum of any subarray using Kadane's Algorithm.
 
    Parameters:
    arr (List[int]): List of integers.
 
    Returns:
    int: Maximum sum of any subarray.
    """
    if not arr:
        return 0
 
    # Initialize variables
    max_ending_here = 0
    max_so_far = float('-inf')
 
    # Iterate through the array
    for x in arr:
        # Update max_ending_here to include current element
        max_ending_here = max(x, max_ending_here + x)
        # Update max_so_far to the maximum value found so far
        max_so_far = max(max_so_far, max_ending_here)
 
    return max_so_far

In [ ]:
def rotate(matrix):
    """
    Function to rotate the matrix 90 degrees clockwise.
    :param matrix: List[List[int]] -> 2D list representing the matrix
    :return: None -> Modifies the matrix in-place
    """
    # TODO: Implement this function
    for i in range(len(matrix)):
        for j in range(i, len(matrix)):
            matrix[i][j], matrix[j][i] = matrix[j][i], matrix[i][j]
    for row in matrix:
        row.reverse()

In [ ]:
def rotate(matrix):
    matrix[:] = list(zip(*matrix[::-1]))  # Simple rotate

def can_be_rotated(mat, target):
    for _ in range(4):  # Try 4 rotations (0, 90, 180, 270)
        if mat == target:
            return True
        rotate(mat)
    return False

#test the function
mat = [
    [1, 2],
    [3, 4]
]

target = [
    [3, 1],
    [4, 2]
]

print(can_be_rotated(mat, target))

False

In [ ]:
def spiral_order(matrix):
    if not matrix:
        return []

    result = []
    top, bottom = 0, len(matrix) - 1
    left, right = 0, len(matrix[0]) - 1

    while top <= bottom and left <= right:

        # 1. Left  Right
        for i in range(left, right + 1):
            result.append(matrix[top][i])
        top += 1

        # 2. Top  Bottom
        for i in range(top, bottom + 1):
            result.append(matrix[i][right])
        right -= 1

        # 3. Right  Left
        if top <= bottom:
            for i in range(right, left - 1, -1):
                result.append(matrix[bottom][i])
            bottom -= 1

        # 4. Bottom  Top
        if left <= right:
            for i in range(bottom, top - 1, -1):
                result.append(matrix[i][left])
            left += 1

    return result
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(spiral_order(matrix))

[1, 2, 3, 6, 9, 8, 7, 4, 5]

In [ ]:
from math import sqrt,pi
print(sqrt(16))
print(sqrt(25))
print(pi)

4.0
5.0
3.141592653589793

In [ ]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'