In [1]:
print("hello sakshi")

hello sakshi

In [1]:
x=[2,4,6]
x.pop(1)
x

[2, 6]

In [2]:
x=[2,4,6]
x.remove(6)
x

[2, 4]

In [3]:
x=[2,4,6]
x.reverse(1)
x

TypeError: list.reverse() takes no arguments (1 given)

In [4]:
x=[2,4,6]
x.reverse()
x

[6, 4, 2]

In [5]:
x=[2,4,6]
x.sort()
x

[2, 4, 6]

In [6]:
x=[2,4,6]
x.sort(4)
x

TypeError: sort() takes no positional arguments

In [7]:
x=[4,3,6]
x.sort()
x

[3, 4, 6]

In [8]:
x=[2,4,6]
x.index()
x

TypeError: index expected at least 1 argument, got 0

In [9]:
x=[2,4,6]
x.index(3)
x

ValueError: 3 is not in list

In [10]:
x=[2,4,6]
x.index()
x

TypeError: index expected at least 1 argument, got 0

In [11]:
x=[2,4,4,6]
x.count(4)
x

[2, 4, 4, 6]

In [12]:
x=[2,4,,6]
x.count(4)
x

SyntaxError: invalid syntax (536838181.py, line 1)

In [13]:
x=[2,4,6]
x.count(4)
x

[2, 4, 6]

In [14]:
x=[2,4,6]
x.clear()
x

[]

In [15]:
x=[2,4,6]
x.copy()
x

[2, 4, 6]

In [16]:
x=[2,4,6]
x.index(4)
x

[2, 4, 6]

In [17]:
x=[2,4,6]
x.index(4)
x.index(4)

1

In [19]:
x=[2,4,4,6]
x.count(4)
y=x.count(4)
y

2

In [1]:
num=int(input("Enter a large number"))
if num>4000:
    print("good number!")
elif num>2000:
    print("Think higher")
else:
    print("it's a small number")

Enter a large number 65

it's a small number

In [2]:
"val" * 5

'valvalvalvalval'

In [3]:
num=int(input("Enter a large number"))
if num>4000:
    print("good number!")
elif num>2000:
    print("Think higher")
else:
    print("it's a small number")

Enter a large number 54678

good number!

In [4]:
num=int(input("Enter a large number"))
if num>4000:
    print("good number!")
elif num>2000:
    print("Think higher")
elif num>1000:
    print("try again")
elif num>500:
    print("again")
else:
    print("it's a small number")

Enter a large number 56

it's a small number

In [5]:
for i in range(5):
    print("APSU")

APSU
APSU
APSU
APSU
APSU

In [6]:
for i in range(2,5):
    print("APSU")

APSU
APSU
APSU

In [9]:
for i in (54,87,65):
    print(i)

54
87
65

In [11]:
for i in range(2,5):
    print(i)

2
3
4

In [13]:
for _ in range(1,5):
    print(_)

1
2
3
4

In [14]:
print(_)

4

In [16]:
names=["TOM","DICK","HARRY"]
for names in names:
    print(names)

TOM
DICK
HARRY

In [17]:
def area(l,b):
    return l*b

print(area(2,3))
print(area(8,9))

6
72

In [21]:
def area(l,b):
    return l*b
def display():
  print("WOW!")
        
display()
print(area(2,3))
print(area(8,9))

WOW!
6
72

In [22]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [24]:
r_nums=range(200,500,50)
print(r_nums)

range(200, 500, 50)

In [25]:
for r in range(200,500,50):
    print(r)

200
250
300
350
400
450

In [28]:
squares=[(lambda x:x**2)(x) for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [29]:
check=lambda x: "Even" if x%2==0 else "Odd"

nums=[65,51,8,66,9,6]

for num in nums:
    results=check(num)
    print(results)

Odd
Odd
Even
Even
Odd
Even

In [30]:
data=[(4,3),(8,7),(6,1)]
sorted_result=sorted(data, key= lambda x:x[0])
print(sorted_result)

[(4, 3), (6, 1), (8, 7)]

In [31]:
data=[(4,3),(8,7),(6,1)]
sorted_result=sorted(data, key= lambda x:x[1])
print(sorted_result)

[(6, 1), (4, 3), (8, 7)]

In [33]:
data=[(4,3,8),(8,7,13),(6,1,78),(8,5,3)]
sorted_result=sorted(data, key= lambda x:x[2])
print(sorted_result)

[(8, 5, 3), (4, 3, 8), (8, 7, 13), (6, 1, 78)]

In [3]:
import pandas as pd

data = {'A': [8, 654, 899, None, 989], 'B': [984, None, None, 7, 99]}

df = pd.DataFrame(data)
print(df)

       A      B
0    8.0  984.0
1  654.0    NaN
2  899.0    NaN
3    NaN    7.0
4  989.0   99.0

In [40]:
import pandas as pd

data = {'A': [8, 654, 899, None, 989], 'B': [984, None, None, 7, 99]}

df = pd.DataFrame(data)
print(df)

       A      B
0    8.0  984.0
1  654.0    NaN
2  899.0    NaN
3    NaN    7.0
4  989.0   99.0

In [43]:
import pandas as pd

data = {'A': [8, 654, 899, None, 989], 'B': [984, None, None, 7, 99]}

df = pd.DataFrame(data)
print(df)

       A      B
0    8.0  984.0
1  654.0    NaN
2  899.0    NaN
3    NaN    7.0
4  989.0   99.0

In [7]:
import pandas as pd

# Assuming you have a DataFrame with a column named 'Height'
data = {'Height': [170, 160, 180, 155]}
df = pd.DataFrame(data)

# Your scheme for replacing values
scheme = {'Tall': 3, 'Medium': 2, 'Short': 1}

# Replace values in the 'Height' column using the scheme
df['Height'] = df['Height'].replace(scheme)

# Display the updated DataFrame
print(df)

   Height
0     170
1     160
2     180
3     155

In [8]:
import pandas as pd 
from sklearn.model_selection import train _test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix

SyntaxError: invalid syntax (3671207858.py, line 2)

In [9]:
df.head()

   Height
0     170
1     160
2     180
3     155

In [10]:
import pandas as pd

data = {'A': [8, 654, 899, None, 989], 'B': [984, None, None, 7, 99]}

df = pd.DataFrame(data)
print(df)

       A      B
0    8.0  984.0
1  654.0    NaN
2  899.0    NaN
3    NaN    7.0
4  989.0   99.0

In [11]:
df=pd.DataFrame(data)
df

       A      B
0    8.0  984.0
1  654.0    NaN
2  899.0    NaN
3    NaN    7.0
4  989.0   99.0

In [12]:
df_cleaned=df.dropna(axis=0)
df_cleaned

       A      B
0    8.0  984.0
4  989.0   99.0

In [13]:
df_replaced=df.fillna(df.median())
df_replaced

       A      B
0    8.0  984.0
1  654.0   99.0
2  899.0   99.0
3  776.5    7.0
4  989.0   99.0

In [14]:
data={'A':[1,2,54,6,7,2,8,6]}
df=pd.DataFrame(data)
df
df_deldup=df.drop_duplicates()
df_deldup

    A
0   1
1   2
2  54
3   6
4   7
6   8

In [15]:
data={'Height':["Tall","Short","Tall","Medium"]}
df=pd.DataFrame(data)
df

   Height
0    Tall
1   Short
2    Tall
3  Medium

In [16]:
#one-hot encoding
df_enc=pd.get_dum


mies(df,columns=['Height'])
df_enc

AttributeError: module 'pandas' has no attribute 'get_dum'

In [17]:
df

   Height
0    Tall
1   Short
2    Tall
3  Medium

In [18]:
df['Height']=df['Height'].replace("Tall","Unknown")
df

    Height
0  Unknown
1    Short
2  Unknown
3   Medium

In [19]:
scheme={'Tall':3,'Medium':2,'Short':1}
df['Height']=df['Height'].replace(scheme)
df

    Height
0  Unknown
1        1
2  Unknown
3        2

In [20]:
scheme={'Tall':3,'Medium':2,'Short':1}
df['Height']=df['Height'].replace(scheme)
df

    Height
0  Unknown
1        1
2  Unknown
3        2

In [1]:
print("Hello,world")

Hello,world

In [2]:
i=10
f=10.5
s="python programming"
print(i,f,s)

10 10.5 python programming

In [4]:
var=input("Enter your secret answer")
print("Remember your secret  password is "+var)

Enter your secret answer sakshi

Remember your secret  password is sakshi

In [ ]:
num=int(input("Enter a large number")

In [ ]:
pip install django==3.0.5
pip install django-widget-tweaks
pip install xhtml2pdf